.grupos-trabalho {
    padding: 100px 20px 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.grupos-trabalho>h2 {
    text-align: center;
    margin: 0 0 30px;
}

.grupos-trabalho>div>h2 {
    text-align: center;
    color: var(--dourado);
    margin: 50px 0 10px;
    font-size: 24px;
}

.email-gt {
    color: #ccc;
    font-size: 14px;
    margin: 0 0 25px;
    text-align: center;
}

.email-gt a {
    color: var(--dourado);
    text-decoration: none;
}

.email-gt a:hover {
    text-decoration: underline;
}

.card-conteudo {
    background: #141414;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 25px;
    display: flex;
    gap: 25px;
    align-items: center;
    transition: 0.3s;
}

.card-conteudo:hover {
    border-color: var(--dourado);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.1);
}

.card-info-detalhada {
    flex: 1;
}

.card-info-detalhada h3 {
    color: var(--dourado);
    font-size: 20px;
    margin: 0 0 8px;
    text-transform: uppercase;
}

.card-info-detalhada p {
    color: #ccc;
    font-size: 14px;
    margin: 0 0 6px;
}

.curriculo-box {
    background: #050505;
    border: 1px solid #222;
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 12px;
    color: #ccc;
    line-height: 1.5;
}

.template-download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: fit-content;
    margin: 0 auto 40px;
    padding: 12px 20px;

    background: #ffd700;
    color: #0f0f0f;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.template-download:hover {
    background: #fff;
    color: #0f0f0f;
}


@media (max-width: 768px) {
    .grupos-trabalho {
        padding: 80px 15px 40px;
    }

    .card-conteudo {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .curriculo-box {
        text-align: left;
    }
}